#!/bin/bash

# URL to clone demos from
DEMOS_URL="git://git.sv.nongnu.org/freetype/freetype2-demos.git"

# Directory of demos relative to freetype
DEMOS_DIR="../freetype2-demos/bin"

# Base directory to ouptut test results
TEST_OUTDIR="/tmp/ft-tests"

# This is where we build the commit of freetype we wish to compare against. We
# export it here because this variable is used in other scripts invoked later.
COMP_COMMIT_DIR="/tmp/freetype2"

# Number of xvfb threads to use
WORKERS=20

# List of tests Below
## Arguments (in order)
### FONT: path to ttf
### SIZE: size to render test at
### DPI: dpi to render test at
### DUMP: boolean, run dump test 
### BENCH: boolean, run bench test
### VIEW: boolean, run dump view test
### STRING: boolean, run string test
### START_GLYPH: first glyph to use in ftview tests
### END_GLYPH: last glyph to use in ftview tests

FT_TESTS=(
"${HOME}/test-fonts/LiberationSerif-Regular.ttf 16 72 1 1 1 1 0 10"
"${HOME}/test-fonts/LiberationSans-Bold.ttf 32 72 1 1 1 1 10 30"
"${HOME}/test-fonts/LiberationMono-BoldItalic.ttf 32 72 1 1 1 1 0 2394"
)
