.freeze{
  height: 50px;
  line-height: 60%;
  padding: 4px 16px;
}
#sprite { 
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
    width: 50%;
    height: auto;
}
table {
  border-collapse: collapse;
  border: none;
  position: relative;
  top: 60px;
}
th,
td {
  border: 1px solid black;
  padding: 4px 16px;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  text-align: left;
}
th {
  background-color: #C8C8C8;
  cursor: pointer;
}
#hash{
  font-size: 12px;
}

