# Static site folder
reference/

# HTML and Markdown files
*.html
*.md

!INSTALL.md
!INSTALL_ANY.md
!INSTALL_CROSS.md
!INSTALL_GNU.md
!INSTALL_MAC.md
!INSTALL_UNIX.md
!INSTALL_VMS.md
!INSTALL_ANDROID.md
!MODIFYING.md

# MkDocs Config file
mkdocs.yml

# Python virtualenv
env/
